@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

.ui-header {
  .title, .subtitle {
    font-family: 'Open Sans';
  }

  .title {
    font-size: 24px;
  }

  .subtitle.light {
    font-weight: 300;
  }
}

#canvas {
  /* margin: 1em auto 4em auto; */
  /* margin: 0em 0em 0em 6em; */
  margin-left: 60px;
  width: 960px;
  clear: both;

  .background {
    //fill: #EEEEEE;
    fill: #FFFFFF;
  }

  rect.set-background {
    stroke: #333333;
    stroke-width: 1;
    /* fill: #EFEFEF; */
    fill: #FFFFFF;
  }

  circle.aggregate {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &.selected {
      fill: rgba(255, 165, 0, 0.5);
    }

    &:hover {
      cursor: pointer;
      /* opacity: 0.75; */
      fill: orange !important;
      /*
      stroke: orange;
      stroke-width: 3;
      */
    }
  }

  circle.subset {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &.selected {
      fill: rgba(255, 165, 0, 0.5);
    }

    &:hover {
      cursor: pointer;
      /* opacity: 0.75; */
      fill: orange !important;
      /*
      stroke: orange;
      stroke-width: 3;
      */
    }
  }

  /* start deprecated */
  circle.subset-child {
    &.selected {
      fill: rgba(255, 165, 0, 0.5);
    }

    &:hover {
      cursor: pointer;
      /* opacity: 0.75; */
      fill: orange !important;
      /*
      stroke: orange;
      stroke-width: 3;
      */
    }
  }
  /* end deprecated */

  .y-label:hover {
    cursor: pointer;
  }

  text {
    font-size: 0.8em;
    &.active {
      fill: orange;
    }
  }

  line.grid-line {
    stroke: #FFFFFF;
  }

  /*******
  * LEGEND
  ********/
  #legend {
    h3.legend-title {
      font-size: 0.8em;
    }
  }

  /*********
  * TOOLTIPS
  *********/
  #tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.9);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 11px;
    line-height: 20px;
    color: #FFFFFF;

    &:before {
      border: solid;
      border-color: #333333 transparent;
      border-color: rgba(51, 51, 51, 0.9) transparent;
      border-width: 0 8px 8px 8px;
      content: "";
      display: block;
      position: absolute;
      top: -8px;
      left: 96px;
    }

    &.hidden {
      display: none;
    }

    .bar-horizontal {
      width: 180px; /* 200px - 2*10px padding */

      span {
        display: inline-block;
      }

      .bar-label {
        text-align: right;
        width: 50px;
        font-size: 9px;
      }

      .bar-level-wrapper {
        margin-left: 10px;
        /* width: 90px; */
        .bar-level {
          height: 10px;
          background: lightcoral;
        }
      }

      .bar-value {
        margin-left: 5px;
        font-size: 11px;
        font-weight: bold;
        height: 20px;
        /* margin-bottom: 5px; */
        width: 25px;
      }
    }

  }
}

/******************
* DEGREE HISTOGRAM
******************/
.degree-hist {
  width: 420px;

  rect {
    fill: #0AA699;
  }

  text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }

  .yaxis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    text {
      fill: #000000;
    }
  }
}

/**************
* ELEMENT-TABLE
**************/
#element-table {
  /* width: 340px; */
  /* padding: 10px; */
  height: 300px;
  overflow-y: scroll;
  background: #FFFFFF;
  margin-top: 10px;
}
