@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
$space: 4px;
$listWidth: 180px;
$labelWidth: 60px;
$numberWidth: 30px;

.ui-header {
  .title, .subtitle {
    font-family: 'Open Sans';
  }

  .title {
    font-size: 24px;
  }

  .subtitle.light {
    font-weight: 300;
  }
}

.ui-controls {
  .fa {
    margin-right: 5px;
  }
}

#canvas {
  /* margin: 1em auto 4em auto; */
  /* margin: 0em 0em 0em 6em; */
  margin-left: 60px;
  width: 960px;
  clear: both;

  .background {
    //fill: #EEEEEE;
    fill: #FFFFFF;
  }

  .x-label {
    &.highlighted {
      fill: rgba(255, 165, 0, 1);
    }
  }

  .y-label-group {
    rect.btn-background {
      fill: #666666;
    }

    .icon-expand {
      font-family: "FontAwesome";
      font-size: 8px;
      fill: #FFFFFF;
      pointer-events: none;
    }

    .icon-collapse {
      font-family: "FontAwesome";
      font-size: 8px;
      fill: #FFFFFF;
      pointer-events: none;
    }

    &.expanded {
      .icon-expand {
        display: none;
      }
    }

    &.collapsed {
      .icon-collapse {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .degree-label {
    &.highlighted {
      fill: rgba(255, 165, 0, 1);
    }
  }

  rect.set-background {
    stroke: #333333;
    stroke-width: 1;
    /* fill: #EFEFEF; */
    fill: #FFFFFF;
  }

  circle.aggregate {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &.selected {
      fill: rgba(255, 165, 0, 0.5);
    }

    &:hover {
      /* cursor: pointer; */
      fill: orange !important;
      /*
      stroke: orange;
      stroke-width: 3;
      */
    }
  }

  circle.subset {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &.selected {
      fill: rgba(255, 165, 0, 1);
    }

    &.highlighted {
      fill: rgba(255, 165, 0, 0.5);
    }

    &:hover {
      cursor: pointer;
      /* opacity: 0.75; */
      fill: orange !important;
      /*
      stroke: orange;
      stroke-width: 3;
      */
    }
  }

  path.highlight-segment {
    fill: rgba(255, 165, 0, 1);
  }

  /* start deprecated */
  circle.subset-child {
    &.selected {
      fill: rgba(255, 165, 0, 0.5);
    }

    &:hover {
      cursor: pointer;
      /* opacity: 0.75; */
      fill: orange !important;
      /*
      stroke: orange;
      stroke-width: 3;
      */
    }
  }
  /* end deprecated */

  text {
    font-size: 0.8em;
    &.active {
      fill: orange;
    }
  }

  line.grid-line {
    stroke: #FFFFFF;
  }

  /*******
  * LEGEND
  ********/
  #legend {
    h3.legend-title {
      font-size: 0.8em;
    }
  }

  /*********
  * TOOLTIPS
  *********/
  #tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.9);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 11px;
    line-height: 20px;
    color: #FFFFFF;

    &:before {
      border: solid;
      border-color: #333333 transparent;
      border-color: rgba(51, 51, 51, 0.9) transparent;
      border-width: 0 8px 8px 8px;
      content: "";
      display: block;
      position: absolute;
      top: -8px;
      left: 96px;
    }

    &.hidden {
      display: none;
    }

    /* degree table */
    .shared-items-note {
      padding-left: $labelWidth;
      font-weight: bold;
    }

    ul {
      list-style-type: none;
      margin: 0;

      li {
        width: $listWidth;
        margin-bottom: 0;
        line-height: 12px;
        font-size: 9px;
      }

      em {
        text-align: right;
        display: inline-block;
        font-style: normal;
        padding: $space 2*$space $space 0;
        width: $labelWidth;
      }

      span {
        color: white;
        font-weight: bold;
        background: lightcoral;
        display: inline-block;
        padding: 0 $space;
        width: $numberWidth;
      }
    }

  }
}

/******************
* DEGREE HISTOGRAM
******************/
.degree-hist {
  width: 420px;

  rect {
    fill: #0AA699;
  }

  text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }

  .yaxis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    text {
      fill: #000000;
    }
  }
}

/**************
* ELEMENT-TABLE
**************/
#element-table {
  /* width: 340px; */
  /* padding: 10px; */
  height: 300px;
  overflow-y: scroll;
  background: #FFFFFF;
  margin-top: 10px;
}
