@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import "layout";
@import "loading";

$space: 4px;
$listWidth: 180px;
$labelWidth: 60px;
$numberWidth: 30px;
$highlightColor: #2B8CBE;

.init-hide {
  display: none;
}


.data-navigator {
  &.lg {
    width: 280px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    padding: 10px;
    border-radius: 4px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  }

  #loadBtn {
    margin-top: 10px;
  }
}

.ui-header {
  .title, .subtitle {
    font-family: 'Open Sans';
  }

  .title {
    font-size: 24px;
  }

  .subtitle.light {
    font-weight: 300;
  }
}

.ui-controls {
  .fa {
    margin-right: 5px;
  }

  #buttonBar {
    float: left;
    margin-top: 30px;

    .btn-remove-selection {
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: lighten($highlightColor, 5%);
      }

      &.enabled {
        background: $highlightColor;
        border-color: darken($highlightColor, 10%);
        color: #FFFFFF;
      }
    }
  }

  #searchBar {
    float: left;
    width: 200px;
    margin-top: 28px;
    margin-left: 20px;
  }
}

#canvas {
  /* margin: 1em auto 4em auto; */
  /* margin: 0em 0em 0em 6em; */
  margin-left: 60px;
  width: 960px;
  clear: both;

  .background {
    //fill: #EEEEEE;
    fill: #FFFFFF;
  }

  .x-label {
    &.highlighted {
      fill: rgba($highlightColor, 1);
      font-weight: bold;
    }
  }

  .y-label-group {
    rect.btn-background {
      fill: #666666;
    }

    .icon-expand {
      font-family: "FontAwesome";
      font-size: 8px;
      fill: #FFFFFF;
      pointer-events: none;
    }

    .icon-collapse {
      font-family: "FontAwesome";
      font-size: 8px;
      fill: #FFFFFF;
      pointer-events: none;
    }

    &.expanded {
      .icon-expand {
        display: none;
      }
    }

    &.collapsed {
      .icon-collapse {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .degree-label {
    &.highlighted {
      fill: rgba($highlightColor, 1);
      font-weight: bold;
    }
  }

  rect.set-background {
    stroke: #333333;
    stroke-width: 1;
    /* fill: #EFEFEF; */
    fill: #FFFFFF;
  }

  circle.aggregate {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &.selected {
      fill: rgba($highlightColor, 1) !important;
    }

    &:hover {
      cursor: pointer;
      fill: rgba($highlightColor, 1) !important;
    }
  }

  circle.subset {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &.selected {
      fill: rgba($highlightColor, 1);
    }

    &.highlighted {
      fill: rgba($highlightColor, 0.5);
    }

    &:hover {
      cursor: pointer;
      /* opacity: 0.75; */
      fill: rgba($highlightColor, 1) !important;
    }
  }

  path.highlight-segment {
    fill: rgba($highlightColor, 1);
  }

  text {
    font-size: 0.8em;
    &.active {
      fill: rgba($highlightColor, 1);
    }
  }

  line.grid-line {
    stroke: #FFFFFF;
  }

  /*********
  * TOOLTIPS
  *********/
  #tooltip {
    position: absolute;
    height: auto;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.9);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 11px;
    line-height: 20px;
    color: #FFFFFF;
    //width: 200px;

    /*
    &:before {
      border: solid;
      border-color: #333333 transparent;
      border-color: rgba(51, 51, 51, 0.9) transparent;
      border-width: 0 8px 8px 8px;
      content: "";
      display: block;
      position: absolute;
      top: -8px;
      left: 96px;
    }
    */

    /* Creates a small triangle extender for the tooltip */
    /*
    &:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(1, 56, 98, 0.9);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }
    */

    /* Style northward tooltips differently */
    /*
    &.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }
    */

    &.hidden {
      display: none;
    }

    hr {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    /* degree table */
    .shared-items-note {
      padding-left: $labelWidth;
      font-weight: bold;
    }

    ul {
      list-style-type: none;
      margin: 0;

      li {
        width: $listWidth;
        margin-bottom: 0;
        line-height: 12px;
        font-size: 9px;
      }

      em {
        text-align: right;
        display: inline-block;
        font-style: normal;
        padding: $space 2*$space $space 0;
        width: $labelWidth;
      }

      span {
        color: white;
        font-weight: bold;
        background: lightcoral;
        display: inline-block;
        padding: 0 $space;
        width: $numberWidth;
      }
    }

  }
}

/******************
* DEGREE HISTOGRAM
******************/
.degree-hist {
  width: 420px;

  rect {
    fill: #0AA699;
  }

  text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }

  .yaxis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    text {
      fill: #000000;
    }
  }
}

/*******
* LEGEND
********/
#legend {
  /* padding: 1.5em 0 0 1.5em; */
  width: 300px;

  h3.legend-title {
    font-size: 0.8em;
  }

  li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    /* width: 10%; */
    padding-left: 0;
    padding-right: 0;
  }
}

/**************
* ELEMENT-TABLE
**************/
#element-table {
  /* width: 340px; */
  /* padding: 10px; */
  height: 300px;
  overflow-y: scroll;
  background: #FFFFFF;
  margin-top: 10px;
}

/* d3 and custom tooltips */
.d3-tip {
  line-height: 22px;
  padding: 6px 12px;
  background: rgba(1, 56, 98, 0.9);
  color: #efefef;
  border-radius: 2px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
  z-index: 10000;

  /* Creates a small triangle extender for the tooltip */
  &:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(1, 56, 98, 0.9);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips differently */
  &.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
}